.container {
  width:900px;
  padding-top:25px;
  margin:auto;
}

@media (max-width: 945px){
  .container {
    width:95%;
  }
}

#footer {
  background-color:#efefef;
}

.pull-right{
	margin-left:25px;
}